/*Imagen de fondo y cuerpo de pagina*/
body {
  background: url("canchaSquash.jpg") no-repeat scroll center 30px / 100% auto #CCABBE;
  background-image: url("canchaSquash.jpg");
  background-repeat: no-repeat;
  background-position: center 30px;
  background-color: #CCABBE;
  background-size: 100%;
  margin: 0px;
  
  font: 14px "helvetica neue",helvetica,arial,verdana;
}
/*Titulo de form*/
h1
{
	border: 2px solid #D3DADD;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 31px;
    margin: 0;
    min-height: 31px;
    text-indent: 10px;
    text-transform: uppercase;
    
    background: #B491A2;
    background-image: linear-gradient(top , #B491A2 0%, #B491A2100%);
    background-image: -o-linear-gradient(top , #B491A2 0%, #B491A2 100%);
    background-image: -moz-linear-gradient(top , #B491A2 0%, #B491A2100%);
    
	background-image: -webkit-linear-gradient(top , #B491A2 0%, #B491A2100%);
    background-image: -ms-linear-gradient(top , #B491A2 0%, #B491A2 100%);
}
/*Titulo panel de administracion*/
h3
{
	border: 2px solid #D3DADD;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 31px;
    margin: 0;
    min-height: 31px;
    text-indent: 10px;
    text-transform: uppercase;
    
    background: #C20046;
    background-image: linear-gradient(top , #B491A2 0%, #C20046 100%);
    background-image: -o-linear-gradient(top , #B491A2 0%, #C20046 100%);
    background-image: -moz-linear-gradient(top , #B491A2 0%, #C20046 100%);
    
	background-image: -webkit-linear-gradient(top , #B491A2 0%, #C20046 100%);
    background-image: -ms-linear-gradient(top , #B491A2 0%, #C20046 100%); 
}
/*div del menu de adm*/
div.menu_jugador {
	float: left;
	width: 20%;
	height: 316px;
}
/*div del contenido del medio*/
div.contenido_jugador {
	margin-top:25px;
	float: left;
	width: 60%;
	background: #F5ECCE;
	height:100%;
}
/*div de la derecha*/
div.noticias{
	float: left;
	width: 20%;
	height:100%;
	
}
/*contenedor del menu adm*/
.inner-box 
{padding: 10px; height:293px  ; width:240px  ; position: absolute;line-height:20px;}

/*menu admin*/
.ul-admin
{
	list-style-type: none;
	margin-right: 15px;
	margin-left: -10px;
}

#news-result li:hover a{ color: black;}

/*item del menu de adm*/
#news-result li a{   
	display: block;
	line-height: 20px;
	padding: 5px;	  		
	white-space: nowrap;
	margin-right: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid;
	width: 100%;
	height: 20px;	
	list-style-type: none;
	font: 18px arial;
	color: #FFFFFF;
	background: #C20046;
    background-image: linear-gradient(top , #B491A2 0%, #C20046 100%);
    background-image: -o-linear-gradient(top , #B491A2 0%, #C20046 100%);
    background-image: -moz-linear-gradient(top , #B491A2 0%, #C20046 100%);    
	background-image: -webkit-linear-gradient(top , #B491A2 0%, #C20046 100%);
    background-image: -ms-linear-gradient(top , #B491A2 0%, #C20046 100%); 
	}
	
/*barra de inicio de sesion*/
#atpNavBar {   
    
    background: #F3F3F3;
    background-image: linear-gradient(top , #F3F3F3 0%, #DBDBDB 100%);
    background-image: -o-linear-gradient(top , #F3F3F3 0%, #DBDBDB 100%);
    background-image: -moz-linear-gradient(top , #F3F3F3 0%, #DBDBDB 100%);
    background-image: -webkit-linear-gradient(top , #F3F3F3 0%, #DBDBDB 100%);
    background-image: -ms-linear-gradient(top , #F3F3F3 0%, #DBDBDB 100%);
    
    height:30px;
    width:100%;
    
    box-shadow: 0 0 3px 0 rgba(0,0,0,.7);
    
    position:relative;    
    z-index: 5001;
}
#atpNavBar .tour-title { font-weight:bold;}

#atpNavBar .tour-title {
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    color: #656565;
    cursor: pointer;
    position: relative;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#atpNavBar .tour-title:after {  border-right: 1px solid #DBDBDB;  content: "";  display: block;  height: 30px;  position: absolute;  right: 0;  top: 0;}

#atpNavBar .tour-title:hover {
    background: #DBDBDB;
    background-image: linear-gradient(top , #DBDBDB 0%, #FFF 100%);
    background-image: -o-linear-gradient(top , #DBDBDB 0%, #FFF 100%);
    background-image: -moz-linear-gradient(top , #DBDBDB 0%, #FFF 100%);
    background-image: -webkit-linear-gradient(top , #DBDBDB 0%, #FFF 100%);
    background-image: -ms-linear-gradient(top , #DBDBDB 0%, #FFF 100%);    
}
/*botones chicos*/
a.button_small,a.button_small:visited{
	display:block;
	font-size:11px;
	float:right;
	height:21px;
	line-height:21px;
	outline:none;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	border:1px solid #bfbfbf;
	padding:0px 15px;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);}

a.blue
{background:#0b93d2;
background:-webkit-gradient(linear, left top, left bottom, from(#2db5f4), to(#0b93d2));
background:-moz-linear-gradient(top, #2db5f4, #0b93d2);
color:#ffffff;}
	
	
a.button_small:hover,a.button_small:active{
	text-decoration:none;
	opacity:0.8;
	filter:alpha(opacity=90);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	-moz-opacity:0.90;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
	}
	a.green,a.green:visited, div.green{
    color:#ffffff;
    background:#67921c!important;
    background:-webkit-gradient(linear, left top, left bottom, from(#8fcc26), to(#67921c))!important;
    background:-moz-linear-gradient(top, #8fcc26, #67921c)!important;}